.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.vsmall{
  font-size: x-small;
}
.dropdown{
  background-color: whitesmoke;
  border-style: none;
  padding: 5px;
  font-size: small;
}
input{
  font-size: small;
  padding: 5px;
}
button{
  font-size: small;
  padding: 5px;
  background-color: yellowgreen;
  border-style: none;
}
button:hover{
  background-color: rgb(177, 236, 58);
  cursor: pointer;
}
button:active{
  background-color: rgb(189, 252, 64);
}
.qrcode{
  background-color: white;
}
.opt{
  background-color: whitesmoke;
  border-style: none;
  padding: 5px;
  font-size: small;
}